body {
  background: url(../img/back-ground1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100;
  font-family: 'Josefin Slab', serif;
}

h1, h3 {
  text-align: center;
  color: white;
  font-family: 'Josefin Slab', serif;
}

.container{
  color: white;
}

UL {
  column-count:3; -moz-column-count:3; -webkit-column-count:3;
  column-gap:2em; -moz-column-gap:2em; -webkit-column-gap:2em;
}
